<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if(!details.carNumber) { %>
      Your booking request sent
    <% } else { %>
      Your booking is confirmed.
      Our driver will pick you up at your given time, Car Number: <%= details.carNumber %>
    <% } %>

    <% for(let i in details) { %>
      <h3><%= i %> : <%= details[i] %></h3>
    <% } %>
  </body>
</html>
