<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Your booking request sent

    <% for(let i in details) { %>
      <h3><%= details[i] %></h3>
    <% } %>
  </body>
</html>
