<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Quickecabs</h1>
    <br>
    your verification token is: <%= token %>
    <br>
    <a href="http://localhost:3000/users/verify">Verify</a>
  </body>
</html>
