<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">

    <!--    font awsome-->
    <script src="https://kit.fontawesome.com/fc94777fad.js"></script>

    <title>sportyBOB | WELCOME</title>
    <style>
        body {
            background-color: #FAFAFA;

        }

        #container {
            background-color: #262626;
            height: 100%;
            border-radius: 10px;
            margin: 10px;

        }

        .logo-container a {
            font-size: 2.3em;
            font-weight: bolder;
            letter-spacing: 3px;
            line-height: 50px;
            color: #FF6600;
            font-family: 'Lobster', cursive;

            padding: 30px;
        }

        .welcome-content {
            /*            position: relative;*/
            margin: 10px;
            border-radius: 10px;
            padding: 25px;
            /*            background-color: #ECEFF1;*/
            /*            background-color:#fafafa ;*/
            background-color: #f7f7f7;
            font-family: "Roboto", sans-serif;
            color: #6c757d;
            height: 100%;
        }

        p.user {
            /*            font-family: 'Source Sans Pro', sans-serif;*/
            font-family: 'Pacifico', cursive;
            font-style: italic;
            font-size: 30px;
        }

        p.welcome-content {
            /*            font-family: 'Source Sans Pro', sans-serif;*/
            font-family: 'DM Sans', sans-serif;

            font-size: 16px;
            letter-spacing: 0.3px;
        }

        .footer a {
            padding: 5px;
            margin:
        }

        .footer p {
            margin: 5px;
            color: #6c757d;
            /*            font-family: 'Source Sans Pro', sans-serif;*/
            font-family: 'DM Sans', sans-serif;
            font-size: 14px;
            margin-bottom: 20px;
        }
    </style>

</head>

<body>


    <div id="container">
        <div class="logo-container text-right">
            <a class="navbar-brand" href="">SportyB<span><i class="fas fa-futbol"></i></span>B</a>
        </div>

        <div class="welcome-content">
            <p class="user">Hey! <%= name %>,</p>
            <p class="welcome-content"><strong>Welcome to the club_</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit laborum repellendus esse, nemo minima sint voluptatum vero asperiores eveniet consectetur dolorum itaque aliquam dolor, modi alias, excepturi suscipit deleniti molestiae! <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis similique explicabo doloremque architecto perferendis at. Rem maxime cum, quo quod ullam consectetur molestiae, quae architecto! Eos dolorum iusto unde sunt.your verification token is: <%= token %>
            <br>
            <a href="http://localhost:3000/verify">Verify</a>
                <br><br>thanks,<br><strong>Team sportyBOB </strong></p>

        </div>
        <div class="footer ">
            <div class="social-handle text-center">

                <a href=""><img src="https://img.icons8.com/color/25/000000/twitter.png"></a>
                <a href=""><img src="https://img.icons8.com/color/25/000000/instagram-new.png"></a>
                <a href=""><img src="https://img.icons8.com/color/25/000000/facebook-circled.png"></a>
                <a href=""><img src="https://img.icons8.com/color/25/000000/gmail.png"></a>

            </div>
            <div class="footer-text text-center">
                <p>Sent with <img src="https://img.icons8.com/office/16/000000/filled-like--v1.png"> by sportyBOB HQ </p>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body></html>
